<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="shortcut icon" href="https://cdn.glitch.global/c53b69db-710a-4b7f-a48c-567de2d5162f/yellow-discord-icon-15.jpg?v=1706072024982"/>
    <script src="https://kit.fontawesome.com/5da94b93f5.js" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <title>Dizzcord</title>
</head>
<body>
    {{{body}}}
</body>
</html>