<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/idea.css">
    <link rel="shortcut icon" href="https://cdn.glitch.global/c53b69db-710a-4b7f-a48c-567de2d5162f/yellow-discord-icon-15.jpg?v=1706072024982"/>
    <script src="https://kit.fontawesome.com/5da94b93f5.js" crossorigin="anonymous"></script>
    <title>Dizzcord</title>
  </head>
  
  <body>
    <div class="menu">
      <div class="logo"><span><i class="fa-brands fa-discord"></i></span></div>
      <div class="detail">Đóng góp ý kiến</div>
    </div>
    <div class="main-page">
      <div class="text1">Dizzcord là một ứng dụng vẫn còn đang phát triển.</div>
      <div class="text2">Bất kì ý kiến nào muốn đóng góp, vui lòng liên hệ với Admin qua: </div>
      <div class="icon">
        <div class="facebook">
          <a href="https://www.facebook.com/profile.php?id=100019600352553" target="_blank"><img src="https://cdn.glitch.global/db92dd17-93d2-4842-bb1c-9484fe068cee/free-facebook-2038470-1718513.webp?v=1710148624856"></a>
        </div>
        <div class="messager">
          <a href="https://www.facebook.com/messages/t/100019600352553" target="_blank"><img src="https://cdn.glitch.global/db92dd17-93d2-4842-bb1c-9484fe068cee/messager.jpg?v=1710148745757"></a>
        </div>
        <div class="zalo">
          <a href="https://zalo.me/0358575395" target="_blank"><img src="https://cdn.glitch.global/db92dd17-93d2-4842-bb1c-9484fe068cee/Logo-Zalo-Arc.webp?v=1710148742129"></a>
        </div>
        <div class="gmail">
          <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=duytranorange@gmail.com" target="_blank"><img src="https://cdn.glitch.global/db92dd17-93d2-4842-bb1c-9484fe068cee/gmail.png?v=1710151570292"></a>
        </div>
      </div>
    </div>
  </body>
</html>